body {
    background:#808080;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: darkgray;
}

.assignment img {
    width: 400px;
    padding: 0px;
    border: 4px solid white;
    margin: 10px;
}

.assignment img:hover {
    border:4px dashed #CD5C5C;
}
h1 {
    color:black;
    text-align: center;
}

a {
    text-decoration:none;
    color: #CD5C5C;
}

a:hover{
    color:white; 
}